.content-of-panel {
  width: 100px;
  height: 100px;
  border: solid black 1px;
}

.navigation {
  width: 100px;
  height: 100px;
  border: solid black 1px;
}

.content-icons {
    border: solid black 1px;  
}

.icons {
    color: black ;
}