<footer>

  <section class="content-icons">
    <article>
      <span class="icons">
        <i class="fas fa-brands fa-github"></i>
      </span>        
    </article>
  </section>

  <section class="content-icons">
    <article>
      <span class="icons">
        <i class="fas fa-solid fa-user"></i>
    </span>  
    </article>
  </section>

  <section class="content-icons">
    <article>
      <span class="icons">
        <i class="fas fa-regular fa-envelope"></i>
      </span>
    </article>
  </section>

</footer>
