<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styler.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="styleer.css" />
    <title>paint script</title>
  </head>
  <body>


    <!-- header of page-->
    <header class="name-page">
      <h1>paint script</h1>
    </header>

    <!-- panel where he run fragment code-->
    <main class="content"></main>

    <!-- tools of panel -->
    <nav class="tools">
      <div class="fragment-code-const" id="fragment-code-const">
        <p>
          const
          <input type="text" />
          =
          <input type="text" />
        </p>
      </div>

      <div class="fragment-code-console" id="fragment-code-console">
        <p>
          console
          <input type="text" />
        </p>
      </div>
    </nav>

    <!-- pie of page -->
    <footer class="pie">
      <section class="icons">
        <i class="fa-solid fa-envelope"></i>
      </section>

      <section class="icons">
        <i class="fa-brands fa-github"></i>
      </section>

      <section class="icons">
        <i class="fa-solid fa-user"></i>
      </section>
    </footer>

    <script src="../public/js/funcion_part.mjs"></script>
  </body>
</html>
