<footer>

  <section class="content-icons">
    <article>
      <span class="icons">
        <i class="fas fa-brands fa-github"></i>
      </span>        
    </article>
  </section>

  <section class="content-icons">
    <article>
<<<<<<< HEAD
      <span style="color: black; font-size: 3px;">
        <i class="fas fa-solid fa-user"><a target="_top" href="https://github.com/Kelvinbache/paint-scriting" ></a></i>
=======
      <span class="icons">
        <i class="fas fa-solid fa-user"></i>
>>>>>>> structure
    </span>  
    </article>
  </section>

  <section class="content-icons">
    <article>
      <span class="icons">
        <i class="fas fa-regular fa-envelope"></i>
      </span>
    </article>
  </section>

</footer>
