<footer>    
    <section>
        <article>
            <i class="fas fa-brands fa-github"></i>
        </article>
    </section>
    
    <section>
        <article>
            <i class="fas fa-solid fa-user"></i>
        </article>         
    </section>
    
    <section>
        <article>
            <i class="fas fa-regular fa-envelope" style="color: #000000;"></i>
        </article>
    </section>

</footer>