<footer>

  <section>
    <article>
      <span style="color: black; font-size: 3px;">
        <i class="fas fa-brands fa-github"></i>
      </span>        
    </article>
  </section>

  <section>
    <article>
      <span style="color: black; font-size: 3px;">
        <i class="fas fa-solid fa-user"><a target="_top" href="https://github.com/Kelvinbache/paint-scriting" ></a></i>
    </span>  
    </article>
  </section>

  <section>
    <article>
      <span style="color: black; font-size: 3px;">
        <i class="fas fa-regular fa-envelope"></i>
      </span>
    </article>
  </section>

</footer>
