<footer>    
    <section>
        <article>
            <i class="fa-brands fa-github"></i>
        </article>
    </section>
    
    <section>
        <article>
            <i class="fa-solid fa-user"></i>
        </article>         
    </section>
    
    <section>
        <article>
            <i class="fa-solid fa-envelope"></i>
        </article>
    </section>

</footer>