<footer>
    
    <section>
        <article>
            <p>repository</p>
        </article>
    </section>
    
    <section>
        <article>
            <p>author</p>
        </article>         
    </section>
    
    <section>
        <article>
            <p>email</p>
        </article>
    </section>

</footer>